.box-eye {
    position: relative;

}

.box-eye button {
    border: none;
    position: absolute;
}

.viewPassword {
    position: absolute;
    top: 12px;
    left: auto;
}

.img-wrapper {
    width: 100%;
}

#page-body-bg {
    width: 100%;
}

.img-responsive {
    left: 0;
    position: absolute;
    display: none;
}